@page "/dashboard/class-registration";
@* @inject StudentPortal.Components.Shared.Services.StudentSchedule schedule; *@
@* @inject StudentPortal.Components.Shared.Services.Class studentClass; *@

<h1>Class Registration</h1>


<p style="min-height: 100vh;">Page content</p>