@page "/dashboard";
@using StudentPortal.Components.Shared.Models
@using StudentPortal.Components.Shared.Services
@inject StudentPortal.Components.Shared.Services.StudentAccount studentAccount;
@inject NavigationManager Navigation
@inject StudentPortal.Components.Shared.Services.StudentAccount studentAccount;
@inject AppDbContext _context

<h1>Dashboard</h1>

<div class="widgets">
    <div class="widget-container">
        <div class="widget-header">
            <p>My Classes</p>
        </div>
        
        @if (classes.Count > 0) 
        {
            @foreach (Class c in classes) {
                <p>@c.Name</p>
            }
        }
        else 
        {
            <p>No classes registered</p>
        }
    </div>
    <div class="widget-container">
        <div class="widget-header">
            <p>BYU Announcements</p>
        </div>
        <ul>
            <li>Registration deadline for classes is @registrationDeadline</li>
            <li>Please make sure to register early! Some classes fill up fast.</li>
        </ul>
    </div>
</div>


@code{

    DateOnly registrationDeadline = DateOnly.FromDateTime(DateTime.Now.AddDays(7));
    private List<Class> classes = new();

    protected override void OnInitialized()
    {
        //if not logged in -> go to login
        if (!studentAccount.IsLoggedIn()) {
            Navigation.NavigateTo("/login");
            return;
        }

        //load classes
        try {
            classes = _context.GetClassesEnrolled(studentAccount.studentProfile.Id);
        }
        catch (Exception ex) {
            Console.WriteLine($"Could not retrieve classes from database. Error: {ex}");
        }
        
        DateOnly registrationDeadline = DateOnly.FromDateTime(DateTime.Now.AddDays(7));
    }
}