@page "/dashboard";
@inject StudentPortal.Components.Shared.Services.StudentAccount studentAccount;
@inject NavigationManager Navigation

<h1>Dashboard</h1>
<p style="height: 80vh;">Page Content</p>


@code{
  protected override void OnInitialized()
    {
        if (!studentAccount.IsLoggedIn()) {
            Navigation.NavigateTo("/login");
        }
    }
}