@page "/dashboard";
@inject StudentPortal.Components.Shared.Services.StudentAccount studentAccount;
@inject NavigationManager Navigation

<h1>Dashboard</h1>

@* Widgets on the student dashboard that display info and important information. *@
<div class="widgets">

    @* Student academic info *@
    <div class="widget-container">
        <div class="widget-header">
            <p>My Academics</p>
        </div>
        <span>Current GPA: </span>
        <p>4.0</p>
        <span>Program Completion: </span>
        <p>55%</p>
        <span>View Degree Progress: </span>
        <p><a href="/dashboard/degree-progress">Here</a></p>
        <span>Student Resources </span>
        <p></p>
    </div>

    @* Student Tasks, Holds, or ToDo items *@
    <div class="widget-container">
        <div class="widget-header">
            <p>My Tasks</p>
        </div>
        <span>Current GPA: </span>
        <p>4.0</p>
        <span>Program Completion: </span>
        <p>55%</p>
        <span>View Degree Progress: </span>
        <p><a href="/dashboard/degree-progress">Here</a></p>
        <span>Student Resources </span>
        <p></p>
    </div>

    @* Important Announcements from the School *@
    <div class="widget-container">
        <div class="widget-header">
            <p>BYU Announcements</p>
        </div>
        <span>Current GPA: </span>
        <p>4.0</p>
        <span>Program Completion: </span>
        <p>55%</p>
        <span>View Degree Progress: </span>
        <p><a href="/dashboard/degree-progress">Here</a></p>
        <span>Student Resources </span>
        <p></p>
    </div>

    @* Student Financials, invoices, and payment gateway *@
    <div class="widget-container">
        <div class="widget-header">
            <p>Finances and Scholarships</p>
        </div>
        <span>Current GPA: </span>
        <p>4.0</p>
        <span>Program Completion: </span>
        <p>55%</p>
        <span>View Degree Progress: </span>
        <p><a href="/dashboard/degree-progress">Here</a></p>
        <span>Student Resources </span>
        <p></p>
    </div>

    @* Current Term Block information *@
    <div class="widget-container">
        <div class="widget-header">
            <p>Current Block</p>
        </div>
        <span>Block 2 | Spring 2026</span>
        <p></p>
        <span>Class Withdraw Deadline: </span>
        <p>02/01/2026</p>
        <span>Term 4 Registration Deadline: </span> 
        <p>03/07/2026</p>
    </div>
</div>






@code{

    @* User Authentication for access *@
  protected override void OnInitialized()
    {
        if (!studentAccount.IsLoggedIn()) {
            Navigation.NavigateTo("/login");
        }
    }
}