@page "/dashboard/schedule"
@using StudentPortal.Components.Shared.Models
@using StudentPortal.Components.Shared.Services
@inject StudentSchedule schedule



<h1>My Schedule</h1>

@if (schedule.classes.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Class Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Class item in schedule.classes)
            {
                <tr>
                    <td>@item.name</td>
                    <td>
                        <p>
                            @string.Join(", ", item.classSchedule.Select(s =>
                            $"{s.Key.ToString().Substring(0,3)} {s.Value.ToString("h:mm tt").ToLower()}"))
                        </p>
                    </td>
                    <td><button class="more-info-button" @onclick="() => DisplayClassInfo(item)">More Info</button></td>
                    
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You are not registered for any classes. You can register <a href="/dashboard/class-registration">here</a>.</p>
}

<ClassDetailsDialog StudentClass="currentClass" DialogOn="showDialog" OnExit="CloseDialog"  />



@code {
    private bool showDialog = false;
    private Class currentClass;


    private void DisplayClassInfo(Class chosenClass) 
    {
        currentClass = chosenClass;
        showDialog = true;
    }

    private void CloseDialog() 
    {
        showDialog = false;
    }
}