@page "/dashboard/profile/edit"

@using StudentPortal.Components.Shared.Services
@inject StudentAccount studentAccount
@inject NavigationManager nav
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject AppDbContext _context

<div class="account-container">
    <div class="page-container">

        <EditForm Model="editStudent" OnValidSubmit="UpdateProfile" FormName="EditStudentProfile">
        <DataAnnotationsValidator />
        <ValidationSummary />
            <fieldset>
                <div class="profile-pic-container">
                    <ProfilePic width=200 />

                    <label for="file-upload" class="custom-file-upload">
                        Change Profile Picture
                    </label>

                    <input id="file-upload" type="file" />
                </div>
                <div class="form-inputs">

                    <legend>My Account</legend>
                    <label>First Name</label>
                    <input type="text"
                           @bind="editStudent.FirstName"
                           required>

                    <label>Last Name</label>
                    <input type="text"
                           @bind="editStudent.LastName"
                           required>

                    <label>Email</label>
                    <input type="email"
                           @bind="editStudent.Email"
                           required>

                    <label>Phone</label>
                    <input type="text"
                           @bind="editStudent.Phone"
                           required>

                    <label>Bio</label>
                    <textarea
                        @bind="editStudent.Bio">
                    </textarea>

                    <div class="buttons-container">
                        <input type="submit" value="Update Profile">
                    </div>

                </div>

            </fieldset>
        </EditForm>
        <p>@message</p>

    </div>
</div>


@code {
    Student editStudent = new(); //create a copy, so database entry can still be found if username/password changes
    private string message;
    protected override void OnInitialized()
    {
        //if not logged in -> go to login
        if (!studentAccount.IsLoggedIn()) {
            Navigation.NavigateTo("/login");
            return;
        }
        @* Ensure your profile is NOT null *@
        if (studentAccount.studentProfile == null)
        {
            Navigation.NavigateTo("/login");
            return;
        }
        //the form should use the current data as placeholder text
        editStudent = new Student{ 
            FirstName = studentAccount.studentProfile.FirstName,
            LastName = studentAccount.studentProfile.LastName,
            Email = studentAccount.studentProfile.Email,
            Phone = studentAccount.studentProfile.Phone,
            Bio = studentAccount.studentProfile.Bio,
            HashedPassword = studentAccount.studentProfile.HashedPassword 
        };
    }
    private void UpdateProfile()
    {
        //attempt to update the student profile
        try {
            _context.SetStudent(studentAccount.studentProfile.Email, studentAccount.studentProfile.HashedPassword, editStudent, studentAccount.studentProfile);
            Console.WriteLine("Profile Updated");
            nav.NavigateTo("/dashboard/profile");
        }
        catch (Exception ex) {
            message = "There was an error updating your profile";
            Console.WriteLine($"Update Profile Error: {ex}");
        }
    }
        
}

