@page "/"
@layout LandingLayout

<PageTitle>Student Portal</PageTitle>

<div class="container">
    <div>
        <h1 class="lower-emphasis">Welcome to</h1>
        <h1>The Student Portal</h1>
    </div>
    <div class="image-container">
        <a href="/">
            <img src="byu-logo-white.png" width="300"/>
        </a>
    </div>
    <div class="buttons-container">
        <p>Sign-in or register an account to get started.</p>
        <a href="/register">Register</a>
        <a href="/login">Login →</a>
    </div>
</div>
