
@page "/seed-data"
@using System.Text.Json
@inject AppDbContext _context
@rendermode InteractiveServer

@if (seeding) {
  <p>Seeding Database...</p>
} else {
  <button @onclick="SeedDatabase">Seed Database</button>
  <p>@Message</p>
  @* <p>@test</p> *@
}


@code {
    private string Message = "";
    //private string test = "";
    private bool seeding = false;

    protected async Task SeedDatabase()
    {
        seeding = true;
        try
        {
            // Reset Database
            await _context.Database.EnsureDeletedAsync();
            await _context.Database.EnsureCreatedAsync();

            // Add initial content
            _context.AddStudents(
                ("fname1", "lname1", "student1@example.com", "000-000-0001", "bio1", "password1"),
                ("fname2", "lname2", "student2@example.com", "000-000-0002", "bio2", "password2"),
                ("fname3", "lname3", "student3@example.com", "000-000-0003", "bio3", "password3")
            );

            await _context.SaveChangesAsync();

            Message = "Database reset and seeded!";
        }
        catch (Exception e)
        {
            Message = $"Error: {e.Message}";
        }
        seeding = false;

        //test = JsonSerializer.Serialize(_context.Students.ToList());
    }
}
