
@page "/seed-data"
@using System.Text.Json
@inject AppDbContext _context
@rendermode InteractiveServer

@if (seeding) {
  <p>Seeding Database...</p>
} else {
  <button @onclick="SeedDatabase">Seed Database</button>
  <p>@Message</p>
}


@code {
    private string Message = "";
    private bool seeding = false;

    protected async Task SeedDatabase()
    {
        seeding = true;
        try
        {
            // Reset Database
            await _context.Database.EnsureDeletedAsync();
            await _context.Database.EnsureCreatedAsync();

            //add classes to the database
            _context.AddClasses(
                ("CSE110", "Introduction to Programming", 2, "cse110-instructor", "cse110-description", "cse110-startDate", "cse110-endDate", 
                new Dictionary<DayOfWeek, TimeOnly>
                {
                    { DayOfWeek.Monday, new TimeOnly(9, 0) },
                    { DayOfWeek.Wednesday, new TimeOnly(9, 0) }
                }),
                ("CSE111", "Programming with Functions", 2, "cse111-instructor", "cse111-description", "cse111-startDate", "cse111-endDate", 
                new Dictionary<DayOfWeek, TimeOnly>
                {
                    { DayOfWeek.Tuesday, new TimeOnly(11, 30) },
                    { DayOfWeek.Wednesday, new TimeOnly(9, 0) }
                }),
                ("CSE210", "Programming with Classes", 2, "cse210-instructor", "cse210-description", "cse210-startDate", "cse210-endDate", new()),
                ("WDD130", "Web Fundamentals", 2, "wdd130-instructor", "wdd130-description", "wdd130-startDate", "wdd130-endDate", new()),
                ("WDD131", "Dynamic Web Fundamentals", 2, "wdd131-instructor", "wdd131-description", "wdd131-startDate", "wdd131-endDate", new()),
                ("WDD231","Web Frontend Development I",2,"wdd231-instructor","wdd231-description","wdd231-startData","wdd231-endDate",new()),
                ("CSE340","Web Backend Development",3,"cse340-instructor","cse340-description","cse340-startData","cse340-endDate",new()),
                ("CSE341","Web Services",3,"cse341-instructor","cse341-description","cse341-startData","cse341-endDate",new()),
                ("ITM111","Introduction to Databases",3,"itm111-instructor","itm111-description","itm111-startData","itm111-endDate",new()),
                ("WDD330","Web Frontend Development II",3,"wdd330-instructor","wdd330-description","wdd330-startData","wdd330-endDate",new()),
                ("WDD430","Web Full-Stack Development",3,"wdd430-instructor","wdd430-description","wdd430-startData","wdd430-endDate",new()),
                ("CSE212","Programming with Data Structures",2,"cse212-instructor","cse212-description","cse212-startData","cse212-endDate",new()),
                ("CSE270","Software Testing",3,"cse270-instructor","cse270-description","cse270-startData","cse270-endDate",new()),
                ("CSE300","Professional Readiness",1,"cse300-instructor","cse300-description","cse300-startData","cse300-endDate",new()),
                ("CSE310","Applied Programming",3,"cse310-instructor","cse310-description","cse310-startData","cse310-endDate",new()),
                ("CSE325",".Net Software Development",3,"cse325-instructor","cse325-description","cse325-startData","cse325-endDate",new()),
                ("CSE370","Software Engineering Principles",2,"cse270-instructor","cse270-description","cse270-startData","cse270-endDate",new())
            
            );

            // Add students to the database
            _context.AddStudents(
                ("student1-fname", "student1-lname", "student1@example.com", "000-000-0001", "student1-bio", "password1"),
                ("student2-fname", "student2-lname", "student2@example.com", "000-000-0002", "student2-bio", "password2"),
                ("student3-fname", "student3-lname", "student3@example.com", "000-000-0003", "student3-bio", "password3")
            );

            //register classes for students
            _context.RegisterClasses(
                (1, 5),
                (3, 4)
            );

            //sync the database with the new seed data
            await _context.SaveChangesAsync();

            Message = "Database reset and seeded!";
        }
        catch (Exception e)
        {
            Message = $"Error: {e.Message}";
        }
        seeding = false;
    }
}
