main[b-85qy90f9pv] {
    background-color: black;
    margin: 0;
    color: white;
}

h1[b-85qy90f9pv] {
    color: White;

}

.lower-emphasis[b-85qy90f9pv] {
    font-size:large;
}

p[b-85qy90f9pv] {
    color: white;
    font-style: italic;
}

.container[b-85qy90f9pv] {
    margin-top: 7rem;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 80vh;
}
.buttons-container[b-85qy90f9pv] {
    display: inline-block;
    margin-top:1rem;
    grid-template-rows: 5 / 6;

    & a, input[type="submit"] {
        display:inline-block;
        text-decoration: none;
        background-color: white;
        color: black;
        padding: 0.5rem 1rem 0.5rem 1rem;
        opacity: 0.95;
        border-radius: 1rem;
        font-weight: 700;
        font-size: larger;
        font-family:Cambria;
        margin-right: 1rem;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    & a:hover[b-85qy90f9pv], input[type="submit"]:hover[b-85qy90f9pv] {
        transform: scale(1.1);
        background-color: #FFC328;
    }
}
.image-container[b-85qy90f9pv] {
    align-content: center;
}

