.container[b-chuttpji8n] {
    color: white;
    
    & a {
        color:white;
    }

    & a:hover[b-chuttpji8n] {
        color:#FFC328;
    }
}

.login-container[b-chuttpji8n] {
    display:block;
    margin-top: 7rem;
    grid-template-rows: 5 / 6;

    & label {

    }

    & input[b-chuttpji8n] {
        display: block;
        color: black;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-radius: 0.75rem;
    }

    & a[b-chuttpji8n],
    input[type="submit"][b-chuttpji8n] {
        display: inline-block;
        text-decoration: none;
        background-color: white;
        color: black;
        padding: 0.5rem 1rem 0.5rem 1rem;
        opacity: 0.95;
        border-radius: 1rem;
        font-weight: 700;
        font-size: larger;
        font-family: Cambria;
        margin-right: 1rem;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    & a:hover[b-chuttpji8n],
    input[type="submit"]:hover[b-chuttpji8n] {
        transform: scale(1.1);
        background-color: #FFC328;
    }
}





