.container[b-y86n5rxygj] {
    color: white;

    & a {
        color: white;
    }

    & a:hover[b-y86n5rxygj] {
        color: #FFC328;
    }
}

.login-container[b-y86n5rxygj] {
    display: block;
    margin-top: 4rem;
    grid-template-rows: 5 / 6;

    & fieldset {
        margin-top: 1.5rem;
    }

    & label[b-y86n5rxygj] {}

    & input[b-y86n5rxygj] {
        display: block;
        color: black;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-radius: 0.75rem;
    }

    & a[b-y86n5rxygj],
    input[type="submit"][b-y86n5rxygj] {
        display: inline-block;
        text-decoration: none;
        background-color: white;
        color: black;
        padding: 0.5rem 1rem 0.5rem 1rem;
        opacity: 0.95;
        border-radius: 1rem;
        font-weight: 700;
        font-size: larger;
        font-family: Cambria;
        margin-right: 1rem;
        margin-top: 0.5rem;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    & a:hover[b-y86n5rxygj],
    input[type="submit"]:hover[b-y86n5rxygj] {
        transform: scale(1.1);
        background-color: #FFC328;
    }
}