@inherits LayoutComponentBase

<div class="webpage">
    <NavLink href="/seed-data" style="display:none;"></NavLink>

    <div class="top-bar">
        <a href="/dashboard"><img class="portal-title" src="/images/byu-logo-black.webp" alt="BYU Logo" width="200"></a>
            <p></p>
            <a href="/dashboard/support">Student Support</a>
        <ProfilePic width="43"/>
        @* Creates a drop-down menu with option to edit profile, logout *@
    </div>

    <div class="navigation">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
        
        <footer>
            <div>
                <p>Team 13 | CSE 325 - Student Portal</p>
            </div>
            <div>
                <a href="https://github.com/LarrySon786/cse-325-team-13-project">Github Repository</a>
            </div>
        </footer>
    </main>
</div>


