
@* Website Navigation *@
<nav>
    @* Custom Hamburger Menu *@
    <button class="hamburger" @onclick="updateNav">☰</button>

    @* Navigation Links *@
    <div class="nav-links @(openNav ? "open" : "")">
        <NavLink href="/dashboard" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="/dashboard/schedule">My Schedule</NavLink>
        <NavLink href="/dashboard/class-registration">Registration</NavLink>
        <NavLink href="/dashboard/degree-progress">Degree Progress</NavLink>
    </div>
</nav>




@code {
    @* Hamburger Menu toggle *@
    public bool openNav = false;

    public void updateNav() {
        openNav = !openNav;
    }



}