

<nav>
    <NavLink href="/dashboard" class="nav-link" ActiveClass="active">Home</NavLink>
    <NavLink href="/dashboard/schedule" class="nav-link" ActiveClass="active">My Schedule</NavLink>
    <NavLink href="/dashboard/class-registration" class="nav-link" ActiveClass="active">Registration</NavLink>
    <NavLink href="/dashboard/degree-progress" class="nav-link" ActiveClass="active">Degree Progress</NavLink>
</nav>
