@page "/"

<PageTitle>Student Portal</PageTitle>

<div class="container">
    <!-- welcome -->
    <div>
        <h1 class="lower-emphasis">Welcome to</h1>
        <h1>The Student Portal</h1>
    </div>
    <!-- logo -->
    <div class="image-container">
        <a href="/">
            <img src="/images/byu-logo-white.webp" alt="BYU Pathway Logo" width="300"/>
        </a>
    </div>
    <div class="buttons-container">
        <p>Sign-in or register an account to get started.</p>
        <!-- register -->
        <a href="/register">Register</a>
        <!-- login -->
        <a href="/login">Login →</a>
    </div>
</div>
