.container {
    color: white;
    
    & a {
        color:white;
    }

    & a:hover {
        color:#FFC328;
    }
}

.login-container {
    display:flex;
    flex-direction: column;
    margin-top: 7rem;

    & label {

    }

    & input {
        display: block;
        color: black;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-radius: 0.75rem;
    }

    & a,
    input[type="submit"] {
        display: inline-block;
        text-decoration: none;
        background-color: white;
        color: black;
        padding: 0.5rem 1rem 0.5rem 1rem;
        opacity: 0.95;
        border-radius: 1rem;
        font-weight: 700;
        font-size: larger;
        font-family: Cambria;
        margin-right: 1rem;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    & a:hover,
    input[type="submit"]:hover {
        transform: scale(1.1);
        background-color: #FFC328;
    }
}

.error-text {
    color: red;
}





