@page "/login"

<div class="container">
    
    <form class=login-container>
        <h2>Student Portal Login</h2>
        <label>*Email</label>
        <input type="email" required placeholder="johndoe@gmail.com">
        <label>*Password</label>
        <input type="text" name="password" required placeholder="•••••">
        <div class="buttons-container">
            <input type="submit" value="Login">
        </div>
    </form>
    <a href="/">← Return</a>
</div>


@code {

}










