@page "/login"
@using StudentPortal.Components.Shared.Services
@using System.Text.Json
@inject StudentAccount studentAccount
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject AppDbContext _context

<div class="container">
    
    <EditForm Model="loginModel" onValidSubmit="login">
        <div class="login-container">
            <h2>Student Portal Login</h2>
            <label>*Email</label>
            <InputText class="textbox" type="email" required placeholder="johndoe@gmail.com" @bind-Value="loginModel.Email" />
            <label>*Password</label>
            <InputText class="textbox" type="password" name="password" required placeholder="•••••" @bind-Value="loginModel.Password" />
            <div class="buttons-container">
                <button type="submit">Login</button>
            </div>
            <p class="error-text">@errorMessage</p>
        </div>
    </EditForm>
    <a href="/">← Return</a>
</div>


@code {
    class LoginModel 
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
    private string errorMessage = "";
    private LoginModel loginModel = new();
    private void login() 
    {
        try {
            Student? data = _context.GetStudent(loginModel.Email, loginModel.Password);

            //if data is null, student data couldnt be retrieved using the inputted email/password
            if (data == null) 
            {
                errorMessage = "Username or password is incorrect!";
                return;
            }
            //finish logging in and go to dashboard
            studentAccount.SetLoggedIn(data);
            Navigation.NavigateTo("/dashboard");

        } catch (Exception ex) {
            Console.WriteLine($"Login Error: {ex.Message}");
        }
    }
}










