@inherits LayoutComponentBase

<div class="webpage">

    <div class="top-bar">
        <a href="/dashboard"><img class="portal-title" src="byu-logo-black.png" alt="BYU Logo" width="200"></a>
            <p></p>
            <a href="/dashboard/support">Student Support</a>
        <ProfilePic />
        @* Creates a drop-down menu with option to edit profile, logout *@
    </div>

    <div class="navigation">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
        
        <footer>
            <div>
                <p class="paragraph-header">Team 13 | CSE 325 - Student Portal</p>
                <p>Benjamin</p>
                <p>Brandon James Richards</p>
            </div>
            <div>
                <a href="https://github.com/LarrySon786/cse-325-team-13-project">Github Repository</a>
            </div>
            <div>
                @* Will put our Logo here? *@
                <img src="" width=50>
                TEST BOX
            </div>
            

        </footer>
    </main>
</div>


